/*
Need:
- fonts
	- colors 
		- green rgb( 100, 149, 82)
		- kinda black (25, 25, 25)
		- full black (0, 0 ,0)
	- sizes
*/

/*Base Styles*/

*, *:before, *:after {

	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: inherit;
}

html {	
	box-sizing: border-box;
	font-size:16px;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
}


body {
	font-family: 'Montserrat';
	color: black;
	width: 95vw;
	margin: 2vw;
	font-size:1em;

}

ul {
	list-style-type: none;
}

.full-width {
	display: flex;
	flex-direction: column;
}

.half-width {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;

}

h1, h2, h3 {
	text-transform: uppercase;
}

h2 {
 	font-size: 1.1em;
}


/**** MOBILE FIRST ADJUSTMENTS ***/
body, .container, header, .full-width, .half-width, main, footer {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

h1{
	border-bottom: .1em solid #649552;
}


.img-gb img {
	width: 100%;
}

nav ul li {
	margin: 1em;
}

/****** HEADER ******/


span {
	color: #649552;
}


nav {
	width: 35%;
	font-size: 1em;
	
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

nav ul li a {
	color: #649552;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	margin: 1em;
}

.full-width {
	width: 100%;
}

.full-width p, #about, .img-gb {
	margin: 1em 0;
}

#about {
	color: #649552;
}
 
.full-width p {
	font-weight: 300;
	color: #191919;
	font-size: .9em;
    line-height: 2.5em;
}

.img-gb {
	height: auto;
    border: .3em solid #649552;
    border-width: .3em 0;
    object-fit: cover;

}

img {
	width: 100%;
}

.welcome {
	padding: 0 1em;
}

/******** Main  ********/

section {
	padding: 1em 1em 1.2em;
}

section p, section ul, section address {
	color: #191919;
	font-weight: 300;
	font-size: .9em;
}

section h3 {
	margin-bottom: 1em;
	font-size: .95em;
}

#menu, #content {
	padding-right: 1em;
}

#menu {
	padding-left: 0;
}

#menu ul {
	color: #649552;
	line-height: 200%;
}

#reviews {
	flex: 1;
	border-top: .1em solid #949494;
    border-bottom: .1em solid #949494;
}

#reviews p {
	line-height: 1.4em;
}

address {
	line-height: 200%;
}


/****** FOOTER ******/
footer {
	display: flex;
	justify-content: center;
    align-items: center;
    margin: 2rem;
}

footer h2 {
	text-align: center;
}

footer span {
	color: #649552;
	font-family: 'Dancing Script';
	text-transform: none;
}


/***** MEDIA QUERIES ****/
@media (min-width: 760px) {
 
 .half-width {
 	width: 100%;
 }

 h1 {
 	width: 100%;
    text-align: center;
 }

 section p, section ul, section address {
	color: #191919;
	font-weight: 300;
	font-size: .8em;
	}

	section {
	border: solid #949494;
	border-width: .1em 0;
	padding: 2em 3em 2.2em;
	}

 main {
	display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
	}

	#reviews {
	flex: 1;
	border-right: .1em solid #949494;
	border-left: .1em solid #949494;
	}
}

@media (min-width: 1200px) {
 
 h1 {
 	border: none;
 	width: auto;
 }

 h2 {
 	font-size: 1.3em;
 }

 .full-width {
	display: flex;
	flex-direction: column;
	align-items: normal;
}

.half-width {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;

}


nav {
	width: auto;
	font-size: .8em;

}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

 section {
	border: solid #949494;
	border-width: .1em 0;
	padding: 2em 3em 2.2em;
	}

	section p, section ul, section address {
	font-size: 1.1em;
	}

	#menu, #content {
	padding-right: 5em;
	}


	#menu {
		padding-left: 1em;
	}

	.img-gb {
	height: auto;
    border: .5em solid #649552;
    border-width: .5em 0;
    object-fit: cover;

}

	.full-width p {
	font-weight: 300;
	color: #191919;
	font-size: 1.1rem;
    line-height: 2.3rem;
	}

	#reviews {
	flex: 1;
	border-right: .1em solid #949494;
	border-left: .1em solid #949494;
	}

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
